<div class="bus-dash">
    <div class="upper">
        <div class="nav">
            <mat-form-field appearance="fill">
                <mat-label>Route</mat-label>
                <mat-select (selectionChange)="selectRoute($event)">
                    <mat-option *ngFor="let route of routesData" [value]="route">
                        {{route}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedRoute">
                <mat-label>Station</mat-label>
                <mat-select (selectionChange)="selectStation($event)">
                    <mat-option *ngFor="let station of routeStationsData" [value]="station">
                        {{station.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-expansion-panel *ngIf="selectedStation">
                <mat-expansion-panel-header class="survey-header">At the station?</mat-expansion-panel-header>
                <h2>Crowdedness: </h2>
                <mat-slider thumbLabel tickInterval="1"></mat-slider>
                <br>
                <br>
                <h2>Temperature: </h2>
                <mat-button-toggle-group>
                    <mat-button-toggle value="1">Cold</mat-button-toggle>
                    <mat-button-toggle value="2">Mild</mat-button-toggle>
                    <mat-button-toggle value="3">Hot</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <br>
                <h2>Air Conditioning: </h2>
                <mat-button-toggle-group>
                    <mat-button-toggle value="1">Cool</mat-button-toggle>
                    <mat-button-toggle value="2">Heat</mat-button-toggle>
                    <mat-button-toggle value="3">None</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <br>
                <button mat-raised-button color="primary">Submit</button>

            </mat-expansion-panel>
        </div>
        <div class="info">
            <mat-expansion-panel *ngIf="selectedRoute && allAlertsByRouteData != undefined" class="routes">
                <mat-expansion-panel-header class="alert-header">Route Alerts</mat-expansion-panel-header>
                <div *ngFor="let alert of allAlertsByRouteData">
                    <p><b>{{alert['header']}}</b></p>
                    <div class="alert-description" [innerHTML]="alert['en-html']"></div>
                    <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>
                <p>Last Updated: {{allAlertsByRouteDataUpdated | date:'mediumTime'}}</p>
            </mat-expansion-panel>

            <mat-divider *ngIf="selectedRoute && selectedStation"></mat-divider>
            <mat-expansion-panel *ngIf="selectedStation && alertsByStopData != undefined" class="stations">
                <mat-expansion-panel-header class="alert-header">Station Alerts</mat-expansion-panel-header>
                <div *ngFor="let alert of alertsByStopData">
                    <p><b>{{alert['header']}}</b></p>
                    <div class="alert-description" [innerHTML]="alert['en-html']"></div>
                    <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>
                <p>Last Updated: {{allAlertsByRouteDataUpdated | date:'mediumTime'}}</p>
            </mat-expansion-panel>

            <mat-divider *ngIf="selectedStation"></mat-divider>
            <div *ngIf="selectedStation" class="times">
                <div *ngFor="let station of idStationData">
                    <button class="refresh-btn" mat-stroked-button color="primary" (click)="reload()"
                            *ngIf="selectedStation">Refresh
                    </button>
                    <br>
                    <br>
                    <h3>Last Updated: {{ station['last_update'] | date:'mediumTime' }} </h3>
                    <h2>0 Bound Buses</h2>
                    <div *ngFor="let time of station['0']">
                        <p *ngIf="time.route == chosenRoute">{{time.time | date:'mediumTime'}}</p>
                    </div>
                    <h2>1 Bound Buses</h2>
                    <div *ngFor="let time of station['1']">
                        <p *ngIf="time.route == chosenRoute">{{time.time | date:'mediumTime'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower">
        <google-map width="100%" [center]="center">
            <map-transit-layer></map-transit-layer>
            <map-marker *ngFor="let markerPosition of markerPositions"
                        [position]="markerPosition"
                        [options]="markerOptions"></map-marker>
        </google-map>
    </div>
</div>